n8n_workflows/happyornot-heartbeat.json
{
  "name": "happyornot-heartbeat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "happyornot-heartbeat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "happyornot-heartbeat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.66.66.1:8080/api/method/happy_or_not.api.ingest_heartbeat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Terminal-Secret",
              "value": "={{ $json.headers['x-terminal-secret'] || '2c0a12c1ad8725a2ce74354db0560c69' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "ERPNext ingest_heartbeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('ERPNext ingest_heartbeat').item.json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ERPNext ingest_heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERPNext ingest_heartbeat": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "happy_or_not"
    }
  ]
}
